<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoway data binding with object</title>
    <script src="angular.js"></script>
    </head>
<body ng-app="myModule">
<div ng-controller="myController">

    <table>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" ng-model="employee.firstName"/>
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input type="text" ng-model="employee.lastName"/>
            </td>
        </tr>
    </table>


    <table>
        <tr>
            <td>First Name</td>
            <td>
                {{employee.firstName}}
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                {{employee.lastName}}
            </td>
        </tr>
    </table>
</div>
<script>

     angular
        .module("myModule",[])
        .controller("myController",function($scope){
            var employee = {
                firstName : "Sanjay",
                lastName : "Degaonkar"
            };
            $scope.employee=employee;
        });
</script>
</body>
</html>